body{
    background-color: #212121;
    color: #ffff;
}

.container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

#clock{
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 40px;
}